/data
/output
/src/figures
src/predictive-elements.pkl
*.pyc
*.pkl
/sbi-logs
/notebooks/sbi-logs
*.png
*.sbat
*.tfevents.*
/run_outputs
src/sbi-logs/
/src/run_outputs
*.npz
*.csv
*.pdf
*.ilp
/src/output
/tests
